@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&display=swap');

:root {
    --scrollbar-width: 3px;
    --scrollbar-backcolor: rgba(34, 234, 19, 0);
    --scrollbar-thinbackcolor: rgb(21, 22, 213);
    --color: #646464;
    --general-width : 1200px;
}
* {
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

html, body {
    padding: 0;
    margin: 0;
}
html, body, .main-container, #app {
    height: 100%;
    width: 100%;
}
body{
    background-color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
    color: #484848;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#container{
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    text-decoration: none;
}


/* HEADER TOP */
.header-top{
    width: var(--general-width);
    margin: 0 auto;
    padding-top: 14px;
    position: relative;
    /*background-color: blue;*/
}
.header-top ul{
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
}
.header-top ul li{
    width: auto;
    padding-left: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 11px;
    float: left;
}
.header-top ul li a {
    color: #7b7b7b;
}

.main-header{
    display: flex;
    width: var(--general-width);
    margin: 0 auto;
    padding-bottom: 16px;
    height: 64px;
}
.main-header .logo{
    /*background-color: yellow;*/
    width: 262px;
}
.main-header .search{
    /*background-color: red;*/
    flex: 1;
}
.main-header .account{
    /*background-color: rebeccapurple;*/
    flex: 1;
}
/* HEADER TOP */
